.aboutMe{
    /* box-sizing: border-box; */
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    background-size: 100vh;
    padding-top: 10rem;
    background:linear-gradient(
    50deg,
       rgb(37, 23, 158) 5%,
        rgba(132, 140, 156, 0.85)50%,
        rgba(89, 114, 120, 0.75) 00%

         );
     color: white;
}

.aboutMe span{
    color: #4d5a7ed7;
    position: relative;
    left: 2.2%;

}
.aboutMe span:last-of-type{
    position: relative;
    font-size: 37px;
    color: white;
    left: -3%;
}
.aboutMe h2{
font-size: 40px;
display: flex;
justify-content: center;
}
.aboutMe h1:first-of-type{
    position: relative;
    left: 40%;
    
}
.aboutMe img{
width: 350px;
border-radius: .5rem;
position: relative;
left: 36%;
}
.aboutMe p{
padding-bottom: 15rem;
line-height: rem;
display: flex;
justify-content: center;
margin-bottom: -2rem;
padding: 1rem 10rem;
padding-bottom: 10rem;
}
