body {
  margin: 0;
  font-size: 25px;
  font-family: 'Lilita One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Views/assets/Pokemon\ Wallpaper\ App.jpeg);
  background-size: cover;
  background-position: 20% 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');