.CardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 8rem;
    margin-left: 8rem;
    position: relative;
    left: -5%;

}


.pageButtons{
    justify-content: space-evenly;
}
.pageButtons button{
    padding: 10px 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(56, 48, 48, 0.531);
    margin: 1rem;
    /* border:1px solid white; */
    position: relative;
    /* left: 24rem; */
    cursor: pointer;
    justify-content: space-evenly;
}
.pageButtons button:first-of-type{
    position: relative;
    top: 7%;
    left: 330%;
}
.pageButtons button:last-of-type{
    position: relative;
    /* top: -%; */
    left: 470%;
}


@media (max-width: 768px){
.filterButtons{
    display: flex;
    position: relative;
    flex-direction: column;
    left: 30%;
}
.filterButtons2{
    position: relative;
    left: -15%;
}
.CardsContainer h2{
    position: relative;
    left: 40%;
}
.CardsContainer span{
    position: relative;
    left: -32%;
}

.pageButtons{
    position: relative;
    left: 33%;
}

}
@media (max-width:418px){
    .filterButtons{
        display: flex;
        position: relative;
        flex-direction: column;
        left: -10%;
        font-size: small;
    }
    .CardsContainer h2{
        position: relative;
        left: 5%;
    }
    .CardsContainer span{
        position: relative;
        margin-top: -2.8rem;
        left: -48%;
    }
    
    .pageButtons{
        position: relative;
        left: 1%;
    }
    .filterButtons2{
        flex-direction: column;
        position: relative;
        left: -10%;
    }
}
    
