@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
body {
  margin: 0;
  font-size: 23px;
  background-image: url('./Views/assets/Pokemon\ Wallpaper\ App.jpeg');
  background-size: cover;
  background-color: rgb(39, 44, 55);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Belanosima', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Fonts imports */
